.wrap {
	position: relative;
	aspect-ratio: 1/1;
	max-width: 500px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	user-select: none;

	@media(max-width: $tablet) {
		max-width: 300px;
	}

	[data-img] {
		transition: 0.2s;
	}

	img {
		position: absolute;
	}

	[data-img='grad'] {
		position: absolute;
		width: 100%;
	}


	[data-img='man'] {
		width: 100%;
		z-index: 10;
		animation: livitate 4s linear infinite;
	}

	[data-img='money'] {
		width: 40%;
		right: -5%;
		z-index: 12;
		animation: livitate-rotate 4s linear infinite;
	}

	[data-img='pig'] {
		z-index: 8;
		left: 6%;
		top: 15%;
		width: 32%;
		animation: livitate-pig 4s linear infinite;
	}

	[data-img='smile'] {
		left: 18%;
		top: -4%;
		width: 10%;
		z-index: 6;
		animation: rotate 4s linear infinite;
	}


	[data-img='light-1'] {
		right: 15%;
		top: -4%;
		width: 10%;
		z-index: 6;
		animation: scale 1s ease infinite;

	}

	[data-img='light-2'] {
		bottom: 25%;
		left: -6%;
		width: 7%;
		z-index: 6;
		animation: scale 1s 0.2s ease-in-out infinite;

	}

}


// animations

@keyframes livitate {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(15px);
	}

}

@keyframes rotate {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}

@keyframes scale {

	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.8);
	}

}

@keyframes livitate-pig {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(5px) rotate(-10deg);
	}

}

@keyframes livitate-rotate {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(40px) rotate(30deg);
	}

}