// responsive
$max-width: 1440px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;
$min-width: 320px;

// colors
$black: #181818;
$white: #fff;
$blue-dark: #1D2532;
$green: #C3F33B;
$blue-gray: #303A4D;
$gray: #CECECE;


$grad-1: linear-gradient(170.98deg, rgba(95, 56, 255, 0.35) 25.59%, rgba(255, 14, 222, 0.35) 100.44%);
$grad-2: linear-gradient(92.84deg, #1DD844 1.44%, #CBF62E 126.29%);